DB_HOST=
DB_PORT=
PROJECT_NAME=
PROJECT_DESCRIPTION=

DEBUG=
SECRET_KEY=

SQL_ENGINE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SQL_HOST=
SQL_PORT=

REDIS_HOST =
REDIS_PORT =
PAGE_SIZE=
PAGE_NUMBER=

SECRET_KEY=
ALGORITHM=

KAFKA_BOOTSTRAP_SERVERS=
DATABASE_MONGO_URL =

ALLOWED_TOPICS =
CONSUMER_SERVER =
CONSUMER_GROUP =
ENABLE_AUTO_COMMIT =
AUTH_URL =
NOTIFICATION_URL =
SMTP_HOST =
SMTP_PORT =
USERNAME =
PASSWORD =
DB_NAME =
DB_TABLE =
UGC_URL =